# Python
__pycache__/
*.py[oc]
*.egg-info/
build/
dist/
wheels/
.venv/


# Node
node_modules/
.next/
dist/

# OS
.DS_Store

# Project
reference-repos/

# environment variables
.env

# noise folders
logs
